@using BugTracker.Extensions
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject IBTRolesService rolesService
@inject IImageService imageService
@inject IBTTicketService ticketService
@inject UserManager<BTUser> userManager

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>BugTracker by Danny</title>


    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Stock CSS n Stuff  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugTracker.styles.css" asp-append-version="true" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/vendor/morris/morris.css" />
    <link rel="stylesheet" href="~/vendor/elusive-icons/css/elusive-icons.css" />

    <!--Google Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.js"></script>

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">

                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                        </div>
                    </div>
                </div>

            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                @*                <form action="pages-search-results.html" class="search nav-form">
                <div class="input-group">
                <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                </div>
                </form>*@

                <span class="separator"></span>

                <!-- Start Notifications -->
                <ul class="notifications">
                    <li>
         @*               <a asp-controller="Tickets" asp-action="MyTickets" class="notification-icon">
                            <i class="bx bx-list-ol"></i>
                            <span class="badge">
                                @{
                                    int companyId = User.Identity!.GetCompanyId();
                                    List<Ticket> myTickets = await ticketService.GetTicketsByUserIdAsync(userManager.GetUserId(User), companyId);
                                }
                                @(myTickets.Count())
                            </span>
                        </a>*@

                       
            
                </ul>
                <!-- End Notifications -->

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-bs-toggle="dropdown">
                        @*           <figure class="profile-picture">
                        <img src="" />
                        </figure>
                        <div class="profile-info">
                        @if (SignInManager.IsSignedIn(User))
                        {
                        <span class="name">@User.FullName</span>
                        <span class="role">
                        @{
                        await rolesService.GetUserRolesAsync(User);
                        }
                        </span>
                        }

                        </div>*@

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="bx bx-user-circle"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="bx bx-lock"></i> Lock Screen</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="bx bx-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">

                        @if((await userManager.GetUserAsync(User)) !=null){
                        <span class="h3">Hello, @((await userManager.GetUserAsync(User)).FirstName)! </span>
                        }
                    </div>
                    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">


                        @if (SignInManager.IsSignedIn(User))
                        {
                            <nav id="menu" class="nav-main" role="navigation">

                                <ul class="nav nav-main">

                                    <li>
                                        <a class="nav-link" asp-action="DashboardView" asp-controller="home">
                                            <i class="bx bx-home" aria-hidden="true"></i>
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <!-- Projects DropDown-->
                                    <li class="nav-parent nav-expanded nav-active">
                                        <a class="nav-link" href="#">
                                            <i class="bx bx-detail" aria-hidden="true"></i>
                                            <span>Projects</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Create">Create New</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Current Projects</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="MyProjects">My Projects</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="AllProjects">All Projects</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="UnassignedProjects">Unassigned Projects</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="ArchivedProjects">Archived Projects</a></li>
                                        </ul>
                                    </li>
                                    <!--End DropDown-->
                                    <!--Tickets DropDown-->
                                    <li class="nav-parent nav-expanded nav-active">
                                        <a class="nav-link" href="#">
                                            <i class="el el-list-alt"></i>
                                            <span>Tickets</span>
                                        </a>
                                        <ul class="nav nav-children">

                                            <li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="Create">Create New</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="Index">Current Tickets</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets">Unassigned Tickets</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a></li>
                                            <li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets">Archived Tickets</a></li>

                                        </ul>
                                    </li>
                                    <!--End DropDown-->
                                    <!--Admin DropDown-->
                                    @if (User.IsInRole(nameof(BTRoles.Admin)))
                                    {

                                        <li class="nav-parent nav-expanded nav-active">
                                            <a class="nav-link" href="#">
                                                <i class="bx bx-layout" aria-hidden="true"></i>
                                                <span>Admin Options</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                @* <li><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="AssignProjectManager">Assign Project Manager</a></li>*@
                                                <li><a class="nav-link" asp-area="" asp-controller="Companies" asp-action="ManageUserRoles">Manage User Roles</a></li>

                                            </ul>
                                        </li>

                                    }
                                    <!--End DropDown-->

                                </ul>
                            </nav>
                        }
                        <hr class="separator" />



                        <hr class="separator" />


                    </div>



                </div>

            </aside>
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>




    </section>

    <!-- Vendor -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/common/common.js"></script>
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/vendor/raphael/raphael.js"></script>
    <script src="~/vendor/morris/morris.js"></script>
    <script src="~/vendor/gauge/gauge.js"></script>
    <script src="~/vendor/snap.svg/snap.svg.js"></script>
    <script src="~/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

    @*
    <!-- Vendor -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/common/common.js"></script>
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>*@

    <!-- Specific Table Page Vendor -->
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    @*    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>*@

    <!-- Examples -->
    <script src="~/js/examples/examples.dashboard.js"></script>
    <script src="~/js/examples/examples.datatables.default.js"></script>

    <script src="~/js/examples/examples.datatables.tabletools.js"></script>


    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>

    <!--Scroll-->
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>